<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.core.bean.UserPlus">

    <sql id="baseSql">
        id,
        name,
        age
    </sql>

    <select id="selectUserList" resultType="UserPlus">
        SELECT
        <include refid="baseSql"/>
        FROM userplus
        WHERE id =
    </select>
</mapper>